/*  -------------------------------------
    |      Onde escolher a Fonte:        |
    |                                    |
    |     https://fonts.google.com/      |
    --------------------------------------
*/

/* CSS GERAL DA PÁGINA */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden; 
}

/* Background */

.fundo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Efeito para escurecer o fundo */
    background-image: url(); /* Colocar imagem no fundo */
    /* Manipulando a imagem de fundo */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}

/* Configurando a Navbar */
header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
   
    
}

.navegacao{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.navegacao a{
    color: #fff;
    font-size: 25px;
}

.navegacao a:hover{
    color:  #d67f1b;
    transition: 0.3s all;
}


/* Editando logo */
.logo p{
    height: 120px;
    width: 120px;
    background: transparent;
    color: #d67f1b;
    border-radius: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 43px;
    cursor: pointer;
}